<section>

  <section class="generator-container">
    <section class="input-section">
      <h2>QR Code Generator</h2>

      <input [(ngModel)]="qrData" placeholder="Paste your URL" />
      <div class="button" (click)="generateQRCode()">Generate QR Code</div>
    </section>

    <section class="output-section">
      <qrcode [qrdata]="qrOutput"></qrcode>
      <a *ngIf="downloadUrl" [href]="downloadLink" download="qrcode.png"
        >Download QR Code</a
      >
    </section>
  </section>
</section>


<router-outlet></router-outlet>
